// TODO: Add hover styles
.btn--primary {
  @extend %btn;
  border: solid 2px c('accent', 'primary');
  border-radius: 30px;
  color: c('accent', 'primary');
}

.btn--outline {
  @extend %btn;
  border: solid 2px c('neutral', 'milk');
  border-radius: 30px;
  color: c('neutral', 'milk');
}
