$accent-color: c('accent', 'primary');
$hr-color: #eaeaea;

$display-font-family: ff(display);
$body-font-family: ff(body);
$monospace-font-family: ff(code);

$display-font-weight: bold;
$body-font-weight: normal;
$monospace-font-weight: normal;

$body-text-color: c('text', 'body');
$display-text-color: c('text', 'headings');

$paragraph-margin-top: 0;
$paragraph-margin-bottom: 20px;
$list-margin-bottom: 20px;
$pre-margin-top: 0;
$pre-margin-bottom: 20px;

body {
  @include set-font-scale('base', 'body');
  font-family: $body-font-family;
  font-weight: $body-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-smoothing();
  color: $display-text-color;
  font-family: $display-font-family;
  font-weight: $display-font-weight;
}

p {
  color: $body-text-color;
  margin-bottom: $paragraph-margin-bottom;
  margin-top: $paragraph-margin-top;
}

dl,
ol,
ul {
  color: $body-text-color;
  margin-bottom: $list-margin-bottom;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  color: $accent-color;
}

pre,
code,
samp {
  font-family: $monospace-font-family;
  font-weight: $monospace-font-weight;
}

pre code {
  margin-bottom: $pre-margin-bottom;
  margin-top: $pre-margin-top;
  overflow-x: scroll;
  white-space: pre;

  code {
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    word-wrap: normal;
  }
}

code {
  font-family: $monospace-font-family;
  white-space: pre;
}

hr {
  border-bottom: 1px solid $hr-color;
  border-top: 1px solid rgba(0, 0, 0, 0.0);
  border: 0;
  height: 0;
  margin-bottom: $paragraph-margin-bottom;
}

mark {
  background-color: #fbf6bb;
  color: $body-text-color;
}

sub,
sup {
  font-size: smaller;
}

input,
abbr,
acronym,
blockquote,
code,
kbd,
q,
samp,
var {
  hyphens: none;
}


abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}

abbr[title]:hover {
  cursor: help; // cursor changed to a question mark when it has a title
}
