<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{file.frontMatter.title}}</title>

  <meta charset="UTF-8">
  <meta name="google" content="notranslate">
  <meta http-equiv="Content-Language" content="en">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="cssFilters.co - Visual playgorund for creating custom and instagram like photo filters">
  <meta name="Author" content="Indrashish Ghosh">

  <link rel="stylesheet" href="assets/css/site.css" media="screen" title="no title" charset="utf-8">
</head>
{{> svg}}
<body>
  {{> header}}

  {{#block "body"}}
  {{/block}}

</body>
</html>
