<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-s-12">
        <div class="cta__inner">

          <h3 class="cta__headline">
            I’m on the lookout for an exciting new project.
          </h3>
          <p class="cta__byline">
            Hit me up if you have something, or want to collaborate on a project, or just want to say hi
          </p>
          <a href="#" class="btn btn--primary cta__btn">
            Lets Work Together
          </a>

        </div>
      </div>
    </div>
  </div>
</div>
