<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-s-12">
        <div class="header__inner">

          <svg class="header__logo"><use xlink:href="#logo" /></svg>

          <ul class="header__nav nav">
            <li class="nav__item"><a href="#" class="nav__link">About</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
          </ul>

          <nav class="header__social social">
            <a href="#" class="social__link"><svg class="social__icon social__icon--twitter"><use xlink:href="#twitter" /></svg></a>
            <a href="#" class="social__link"><svg class="social__icon social__icon--dribbble"><use xlink:href="#dribbble" /></svg></a>
            <a href="#" class="social__link"><svg class="social__icon social__icon--github"><use xlink:href="#github" /></svg></a>
          </nav>

        </div>
      </div>
    </div>
  </div>
</header>
