<div class="cta">
  <div class="container">
    <div class="row">
      <div class="col-s-12">
        <div class="cta__inner">

          <h3 class="cta__headline">
            I’m on the lookout for an exciting new project.
          </h3>
          <p class="cta__byline">
            Hit me up if you have something, or want to collaborate on a project, or just want to say hi
          </p>
          <a href="/contact.html" class="btn btn--primary cta__btn">
            Let's Work Together
          </a>

        </div>

        <div class="cta__bottom">
          <p class="cta__footline">Created with love, sweat and lots of coffee</p>

          <nav class="cta__social social social--dark">
            <a href="https://twitter.com/_ighosh" target="_blank" class="social__link">
              <svg class="social__icon social__icon--twitter"><use xlink:href="#twitter" /></svg>
            </a>
            <a href="https://dribbble.com/ghosh" target="_blank" class="social__link">
              <svg class="social__icon social__icon--dribbble"><use xlink:href="#dribbble" /></svg>
            </a>
            <a href="https://github.com/Ghosh" target="_blank" class="social__link">
              <svg class="social__icon social__icon--github"><use xlink:href="#github" /></svg>
            </a>
          </nav>

        </div>
      </div>
    </div>
  </div>
</div>
