body {
  --text-primary: #1B2128;
  --text-secondary: #2A323D;
  --text-tertiary: #6F829D;

  --bg-lighter: #f6fafb;
  --bg-regular: #e1e8f1;
  --bg-darker: #c9d5e0;

  --accent-1: #3366cc;
}

body.dark {
  --text-primary: #f6fafb;
  --text-secondary: #e1e8f1;
  --text-tertiary: #6a7797;

  --bg-lighter: #404b69;
  --bg-regular: #2e3955;
  --bg-darker: #283149;

  --accent-1: #fdcd6f;
}
