body,
body.light {
  --text-primary: #1B2128;
  --text-secondary: #5b6d82;
  --text-tertiary: #6F829D;

  --bg-lighter: #e8ecf2;
  --bg-regular: #e1e8f1;
  --bg-darker: #c9d5e0;

  --bg-contrast-light: #a4b6c6;

  --accent-1: #3366cc;

  /* Aliases */
  --text-button: var(--bg-lighter);
}

body.dark {
  --text-primary: #f6fafb;
  --text-secondary: #c9d6dd;
  --text-tertiary: #6a7797;

  --bg-lighter: #404b69;
  --bg-regular: #2e3955;
  --bg-darker: #283149;

  --bg-contrast-light: #3f4a68;

  --accent-1: #fdcd6f;

  /* Aliases */
  --text-button: var(--bg-darker);
}
