---
title: Indrashish Ghosh - Freelance Product Designer and Front End Developer
cover: true
---
{{#extend "layouts/master"}}
{{#content "body"}}

<!-- this is a namespace for the project colors -->
<section class="aldoshik project">

  <div class="cover">
    <div class="container">
      <div class="row">
        <div class="col-s-12">

            <div class="cover__logo-cont">
              <svg class="cover__logo cover__logo--aldoshik"><use xlink:href="#aldoshik"/></svg>
            </div>

            <div class="cover__image cover__image--aldoshik"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <p>
          <a href="http://www.aldoshik.com/" target="_blank">Aldoshik</a> aims to be a leading player in the team reward management space. It offers a proprietary cloud based employee recognition and rewardal system.
        </p>

        <h2 class="section-heading mt80" data-content="01">
          <span>Objective</span>
        </h5>

        <p>
          My role in this project was to streamline the interface and make the different features of the product easy to interpret and simple to use. For this project I collaborated with the in-house product team and designers.
        </p>

      </div>
    </div>
  </div>
  <!-- end .container -->


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <h5 class="section-heading" data-content="02">
          <span>Design Details</span>
        </h5>
        <p>
          After getting up-to-date with the research, flows and wireframes established by the rest of the team, we quickly moved onto the next phase of the design cycle, which was actually designing the product.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h3 class="section-subheading mt40 mb10">Product Details</h3>

        <p>
          At the core of the product is an e-commerce store from where the users can exchange the gems awarded to them by their managers and superiors as a reward or recognition for their hard work, for products in the store.
        </p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <div class="tac mt40 mb40">
          <figure>
            <img
              src="/assets/images/projects/aldoshik/aldoshik-product.jpg"
              alt="Aldoshik product details"
             />
            <figcaption class="tal">
              The item detail - Apart from displaying the usual description and the item name, the section also displays the various colour and size options if they exist. The cost of the product is denoted in "gems" which is the currency used on the platform
            </figcaption>
          </figure>
         </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <p>
          The product screen was designed around the add-to-cart button as the primary action point.
        </p>

        <h3 class="section-subheading mt40 mb10">Store Details</h3>

        <p>
          There main catalogue page displayed the various products available in the store. The user had an option of also seeing the the products from a particular provider or just see all the products in the catalogue.
        </p>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <div class="tac mt40 mb40">
          <figure>
            <img
              src="/assets/images/projects/aldoshik/aldoshik-store.jpg"
              alt="Aldoshik product details"
             />
            <figcaption class="tal">
              The thumbnails display the price of the product in the app currency, the social rating of the product, the category it belongs to and also an icon which added it to the store.
            </figcaption>
          </figure>
         </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h3 class="section-subheading mt40 mb10">Filtering Products</h3>

        <p>
          As there would be multiple pages worth of products to display to the user in the future, it was decided to add a simple filter which would aid the user to narrow down the catalouge should he/she chose to do so.
        </p>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <div class="tac mt40 mb40">
          <figure>
            <img
              src="/assets/images/projects/aldoshik/aldoshik-filter.jpg"
              alt="Aldoshik product filters"
             />
            <figcaption class="tal">
              The parameters of the filters were simple and only consisted of the price (in gems), the social rating and the categories of products in the store.
            </figcaption>
          </figure>
         </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h5 class="section-heading" data-content="03">
          <span>Final Outcome</span>
        </h5>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-12 minigrid mt40 mb60">
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-home@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-home.jpg"
          alt="Aldoshik product page"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-marketplace@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-marketplace.jpg"
          alt="Aldoshik product marketplace"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-dashboard@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-dashboard.jpg"
          alt="Aldoshik user dashboard"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-profile@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-profile.jpg"
          alt="Aldoshik user profile"
          class="fill minigrid-item"
        />
      </div>
    </div>
  </div>

</section>
<!-- end .oyo -->


{{> cta}}

{{/content}}
{{/extend}}
