---
title: Indrashish Ghosh - Freelance Product Designer and Front End Developer
cover: true
---
{{#extend "layouts/master"}}
{{#content "body"}}

<!-- this is a namespace for the project colors -->
<section class="aldoshik project">

  <div class="cover">
    <div class="container">
      <div class="row">
        <div class="col-s-12">

            <div class="cover__logo-cont">
              <svg class="cover__logo cover__logo--aldoshik"><use xlink:href="#aldoshik"/></svg>
            </div>

            <div class="cover__image cover__image--aldoshik"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <p>
          <a href="http://www.aldoshik.com/" target="_blank">Aldoshik</a> aims to be a leading player in the team reward management space. It offers a propritery cloud based employee recognition and rewardal system.
        </p>

        <h2 class="section-heading mt80" data-content="01">
          <span>Objective</span>
        </h5>

        <p>
          My role in this project was to streamline the interface and make the different features of the product easy to interpret and simple to use. Most of the userflows and product features had already been worked out by the rest of the team
        </p>

      </div>
    </div>
  </div>
  <!-- end .container -->


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <h5 class="section-heading" data-content="02">
          <span>Design Details</span>
        </h5>
        <p>
          After getting up-to-date with the reasearch, flows and wireframes established by the rest of the team, we quickly moved onto the next phase of the design cycle, which was actually designing the product.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h3 class="section-subheading mt40 mb10">Product Details</h3>

        <p>
          At the core of the product was a e-commerce store from where the users could exchange their awarded gems (points given to users by their managers as an incentive for their performance), for prodcuts in the store.
        </p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <div class="tac mt40 mb40">
          <figure>
            <img
              src="/assets/images/projects/aldoshik/aldoshik-product.jpg"
              alt="Aldoshik product details"
             />
            <figcaption class="tal">
              The secondary navigation houses some of the actins possible on the view such as downoalding, sharing a link, creating a new model, accessing settings etc. This also is extendable and actions can be added or removed as required
            </figcaption>
          </figure>
         </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <p>
          The user ould also choose to opt in for a combo offer for the products in order to redeem the coins
        </p>

        <h3 class="section-subheading mt40 mb10">Store Details</h3>

        <p>
          At the core of the product was a e-commerce store from where the users could exchange their awarded gems (points given to users by their managers as an incentive for their performance), for prodcuts in the store.
        </p>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <div class="tac mt40 mb40">
          <figure>
            <img
              src="/assets/images/projects/aldoshik/aldoshik-store.jpg"
              alt="Aldoshik product details"
             />
            <figcaption class="tal">
              The secondary navigation houses some of the actins possible on the view such as downoalding, sharing a link, creating a new model, accessing settings etc. This also is extendable and actions can be added or removed as required
            </figcaption>
          </figure>
         </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h3 class="section-subheading mt40 mb10">Filtering Products</h3>

        <p>
          At the core of the product was a e-commerce store from where the users could exchange their awarded gems (points given to users by their managers as an incentive for their performance), for prodcuts in the store.
        </p>

      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <div class="tac mt40 mb40">
          <figure>
            <img
              src="/assets/images/projects/aldoshik/aldoshik-filter.jpg"
              alt="Aldoshik product filters"
             />
            <figcaption class="tal">
              The secondary navigation houses some of the actins possible on the view such as downoalding, sharing a link, creating a new model, accessing settings etc. This also is extendable and actions can be added or removed as required
            </figcaption>
          </figure>
         </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h5 class="section-heading" data-content="03">
          <span>Final Outcome</span>
        </h5>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-12 minigrid mt40 mb60">
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-home@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-home.jpg"
          alt="Aldoshik product page"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-marketplace@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-marketplace.jpg"
          alt="Aldoshik product marketplace"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-dashboard@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-dashboard.jpg"
          alt="Aldoshik user dashboard"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/aldoshik/aldoshik-profile@2x.jpg 2x"
          src="/assets/images/projects/aldoshik/aldoshik-profile.jpg"
          alt="Aldoshik user profile"
          class="fill minigrid-item"
        />
      </div>
    </div>
  </div>

</section>
<!-- end .oyo -->


{{> cta}}

{{/content}}
{{/extend}}
