---
title: Indrashish Ghosh - Freelance Product Designer and Front End Developer
cover: true
---
{{#extend "layouts/master"}}
{{#content "body"}}

<div class="cover cover--moodboard">
  <div class="container">
    <div class="row">
      <div class="col-s-12">

          <svg class="cover__logo cover__logo--moodboard"><use xlink:href="#moodboard"/></svg>

      </div>
    </div>
  </div>
</div>

{{/content}}
{{/extend}}
