---
title: Indrashish Ghosh - Freelance Product Designer and Front End Developer
cover: true
---
{{#extend "layouts/master"}}
{{#content "body"}}

<!-- this is a namespace for the project colors -->
<section class="moodboard project">

  <div class="cover">
    <div class="container">
      <div class="row">
        <div class="col-s-12">

            <div class="cover__logo-cont">
              <svg class="cover__logo cover__logo--moodboard"><use xlink:href="#moodboard"/></svg>
            </div>

            <div class="cover__image cover__image--moodboard"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <p>
          As the name suggests, <a href="http://moodboard.io/" target="_blank">Moodboard.io</a> is a simple tool which provides users a private place to store all visual inspiration and create a visual moodboard for their projects.
        </p>

        <h5 class="section-heading" data-content="01">
          <span>Objectives</span>
        </h5>

        <p>
          Being the sole driving force behind this project, it was important for me to work smart and maximize the output from the effort involved. However, the main priority here was the user experience and the product.
        </p>

        <p>
          Keeping in mind the various requirements and the project constraints, it quickly became clear to me the key objectives of the project. I needed to design an interface which was:-
        </p>


        <ul class="objective objective--triple objective--moodboard">

          <li class="objective__item">
            Build an interface which is intuitive and puts focus on the users content without compramising usabilty
          </li>

          <li class="objective__item">
            The design should be flexible to accomodate future business requirements and features
          </li>

          <li class="objective__item">
            The visual language should be modularized to make all products feel part of the same family
          </li>

        </ul>

      </div>
    </div>
  </div>
  <!-- end .container -->

  <div class="section-alternate pb100 pt100">
    <div class="container">
      <div class="row">
        <div class="col-s-6 col-s-push-3">

          <figure>
            <img
              srcset="/assets/images/projects/moodboard/moodboard-wireframes@2x.png 2x"
              src="/assets/images/projects/moodboard/moodboard-wireframes.png"
              alt="Moodboard Wireframes"
              class="wireframe wireframe--moodboard"
             />
           </figure>

          <h5 class="section-heading section-heading--dark" data-content="02">
            <span>Wireframing</span>
          </h5>

          <p>
            After shortlisting a few different variations from the initial sketches, I created a few full scale wireframes which helped me get a better understand the nuances of each screen and identify possible short comings in some the layouts.
          </p>

          <p>
            After this stage, I decided upon three major things:-
          </p>

          <ul>
            <li>
              Remove the quick access board’s navigation from the left of the screen and instead opted for utilizing that space to better showcase the user’s content
            </li>
            <li>
              Add a secondary navigation below the main head to house the page details and view actions like sorting, filterings, layout modes etc
            </li>
            <li>
               Opt for a full page view of the content detail page rather than a in place modal
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- end .section-alternate -->

  <div class="container mt60">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h5 class="section-heading" data-content="03">
          <span>Brand Elements</span>
        </h5>

        <p>
          At this point I finalized some the brand assets such as the primary color pallete, fonts, and iconography
        </p>

      </div>
    </div>
  </div>


  <div class="container">
    <figure class="mt60 mb40">
      <div class="row">
        <div class="col-s-4 col-s-push-1">
          <figcaption>
            <span>Typography</span>
            Avenir Next and a few sans-serif fallback fonts were the typeface of choice. This is used in the headings, buttons and some text elements on the site.
          </figcaption>
        </div>
        <div class="col-s-6 col-s-push-1">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-brand-type@2x.png 2x"
            src="/assets/images/projects/moodboard/moodboard-brand-type.png"
            alt="Moodboard Brand Typography"
           />
        </div>
      </div>
    </figure>

    <figure class="mt80 mb40">
      <div class="row">
        <div class="col-s-4 col-s-push-1">
          <figcaption>
            <span>Iconography</span>
            Avenir Next and a few sans-serif fallback fonts were the typeface of choice. This is used in the headings, buttons and some text elements on the site.
          </figcaption>
        </div>
        <div class="col-s-6 col-s-push-1">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-brand-icons@2x.png 2x"
            src="/assets/images/projects/moodboard/moodboard-brand-icons.png"
            alt="Moodboard Brand Typography"
           />
        </div>
      </div>
    </figure>

    <figure class="mt80 mb90">
      <div class="row">
        <div class="col-s-4 col-s-push-1">
          <figcaption>
            <span>Colors</span>
            Avenir Next and a few sans-serif fallback fonts were the typeface of choice. This is used in the headings, buttons and some text elements on the site.
          </figcaption>
        </div>
        <div class="col-s-6 col-s-push-1">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-brand-colors@2x.png 2x"
            src="/assets/images/projects/moodboard/moodboard-brand-colors.png"
            alt="Moodboard Brand Typography"
           />
        </div>
      </div>
    </figure>

  </div>

</section>
<!-- end .moodboard -->

{{/content}}
{{/extend}}
