---
title: Moodboard.io - Indrashish Ghosh | Freelance Product Designer and Front End Developer
description: User interface and development case study of Moodboard.io by Indrashish Ghosh
cover: true
---
{{#extend "layouts/master"}}
{{#content "body"}}

<!-- this is a namespace for the project colors -->
<section class="moodboard project">

  <div class="cover">
    <div class="container">
      <div class="row">
        <div class="col-s-12">

            <div class="cover__logo-cont">
              <svg class="cover__logo cover__logo--moodboard"><use xlink:href="#moodboard"/></svg>
            </div>

            <div class="cover__image cover__image--moodboard"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <p>
          As the name suggests, <a href="http://moodboard.io/" target="_blank">Moodboard.io</a> is a simple tool which provides users with a private place to store all inspiration collected from various places over the internet and create a visual moodboards for their projects.
        </p>

        <h2 class="section-heading" data-content="01">
          <span>Objectives</span>
        </h5>

        <p>
          This project started out due to a personal problem of not being able to store and more importantly consume the content in a way which suited me. Being the sole driving force behind this project, it was important for me to work smart and maximize the output from the effort involved.
        </p>

        <p>
          Keeping in mind the various requirements and the project constraints, it quickly became clear to me the key objectives of the project. I needed to design an product experience and interface which should be:-
        </p>


        <ul class="objective objective--triple objective--moodboard">

          <li class="objective__item">
            Intuitive and put focus on the users content without compromising usability
          </li>

          <li class="objective__item">
            Flexible to accommodate future business requirements and product features
          </li>

          <li class="objective__item">
            Modularized to enable reuse of components for supporting interfaces
          </li>

        </ul>

      </div>
    </div>
  </div>
  <!-- end .container -->

  <div class="section-alternate pb100 pt100">
    <div class="container">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col-s-10 col-s-push-1">
              <div class="tac">
                <figure>
                  <img
                    srcset="/assets/images/projects/moodboard/moodboard-wireframes@2x.png 2x"
                    src="/assets/images/projects/moodboard/moodboard-wireframes.png"
                    alt="Moodboard Wireframes"
                    class="fill"
                   />
                 </figure>
               </div>
            </div>
          </div>
        </div>

        <div class="col-s-6 col-s-push-3">

          <h5 class="section-heading section-heading--dark" data-content="02">
            <span>Wireframing</span>
          </h5>

          <p>
            I started by creating a few rough sketches on paper. After shortlisting a few different variations, I created a few full scale, low fidelity wireframes which helped me get a better understand the nuances of each screen and identify possible short comings in some the layouts.
          </p>

          <p>
            After this stage, I decided upon three major things:-
          </p>

          <ul>
            <li>
              To move away from a standard left side navigation and instead utilize the full width of the screen to display the pins (images)
            </li>
            <li>
              Add a secondary navigation below the main head to house the page details and view actions like sorting, filtering, layout modes etc.
            </li>
            <li>
               Opt for a full page view of the content detail page rather than an overlayed modal
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
  <!-- end .section-alternate -->

  <div class="container mt60">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h2 class="section-heading" data-content="03">
          <span>Brand Elements</span>
        </h5>

        <p>
          Once I was satisfied with the basic skeleton of the layout and the placement of the action buttons, I proceeded to finalized some the brand assets such as the primary color palette, fonts, and iconography
        </p>

      </div>
    </div>
  </div>


  <div class="container">
    <figure class="mt60 mb40">
      <div class="row">
        <div class="col-s-4 col-s-push-1">
          <figcaption>
            <span>Typography</span>
            Avenir Next and a few sans-serif fallback fonts were the typeface of choice. This is used in the headings, buttons and some text elements on the site.
          </figcaption>
        </div>
        <div class="col-s-6 col-s-push-1">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-brand-type@2x.png 2x"
            src="/assets/images/projects/moodboard/moodboard-brand-type.png"
            alt="Moodboard Brand Typography"
           />
        </div>
      </div>
    </figure>

    <figure class="mt80 mb40">
      <div class="row">
        <div class="col-s-4 col-s-push-1">
          <figcaption>
            <span>Iconography</span>
            I opted to use outline icons with thin outlines to match the overall aesthetic of the product and keep things clean.
          </figcaption>
        </div>
        <div class="col-s-6 col-s-push-1">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-brand-icons@2x.png 2x"
            src="/assets/images/projects/moodboard/moodboard-brand-icons.png"
            alt="Moodboard Brand Typography"
           />
        </div>
      </div>
    </figure>

    <figure class="mt80 mb90">
      <div class="row">
        <div class="col-s-4 col-s-push-1">
          <figcaption>
            <span>Colors</span>
            For the colours, I chose a light background with various shades of blue as the primary palette accompanied by a few accent colours for notifications and alerts.
          </figcaption>
        </div>
        <div class="col-s-6 col-s-push-1">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-brand-colors@2x.png 2x"
            src="/assets/images/projects/moodboard/moodboard-brand-colors.png"
            alt="Moodboard Brand Typography"
           />
        </div>
      </div>
    </figure>

  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h2 class="section-heading" data-content="04">
          <span>Design Details</span>
        </h5>

        <p>
          At this point I had the pieces I needed and was clear in my head about the direction I wanted to take with the visual design. I started creating the designs keeping in mind the initial objectives of making it intuitive and extendable at the same time.
        </p>

        <h3 class="section-subheading mt40 mb10">Navigation</h3>

        <p>
          Being an app with a relatively less number of “pages” the navigation aspect was quite straight forward. A breadcrumb serves the dual purpose of acting as a navigation helper as well as informing the user of his location at any given moment.
        </p>

      </div>
    </div>
  </div>
  <!-- end .container -->

  <div class="container mt40 mb60">
    <div class="row">
      <div class="col-s-5 col-s-push-1">
        <figure>
          <img
            srcset="/assets/images/projects/moodboard/moodboard-design-detail-1@2x.jpg 2x"
            src="/assets/images/projects/moodboard/moodboard-design-detail-1.jpg"
            alt="Moodboard top left header typography"
            class="fill mb10"
           />
          <figcaption>
            The two progress bar indicate how much of capacity is left on the free plan. The breadcrumbs also serve as quick links to go back to previous screens. The info on the third row are the view details, these change according to the screen the user is on
          </figcaption>
        </figure>
      </div>
      <div class="col-s-5 col-s-push-1">
        <figure>
          <img
            srcset="/assets/images/projects/moodboard/moodboard-design-detail-2@2x.jpg 2x"
            src="/assets/images/projects/moodboard/moodboard-design-detail-2.jpg"
            alt="Moodboard top left header typography"
            class="fill mb10"
           />
          <figcaption>
            The secondary navigation houses some of the actions possible on the view such as downloading, sharing a link, creating a new model, accessing screen settings etc. This is extendable as actions can be added or removed as required
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <p>
          The secondary header houses the screen specific action items. This approach is flexible and future-proof as it provided a consistent location to place all action items, while maintaining the ability to add or remove specific items from the list depending upon the product features or business requirements.
        </p>

        <h3 class="section-subheading mt40 mb10">Boards</h3>

        <p>
          After logging into the app, the first screen that the user sees is the boards screen. This houses thumbnails of all the moodboards by that user. Apart from showing the latest three items added to the moodboard, the thumbs also display some addition information such as the number of pins in it, last updated timestamp, main action items etc.
        </p>

      </div>
    </div>
  </div>
  <!-- end .container -->


  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <figure class="mt40 mb60 tac">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-detail-card@2x.png 2x"
            src="/assets/images/projects/moodboard/moodboard-detail-card.png"
            alt="Moodboard cards design"
            class="fill mb10"
           />
          <figcaption>
            This figure shows the thumbnails in different states - normal, hover and selected. Since one of the actions of the page are to filter by starred moodboards, the thumbnails contain an easy access way to star or unstar.
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <p>
          The split view on the cards display the three latest additions to the board. This aids the user in remembering the contents of the card. The stacked appearance of the cards is a subtle reminder of its nature of being a collection of pins/inspiration
        </p>

        <h2 class="section-heading mt90" data-content="05">
          <span>Final Outcome</span>
        </h5>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-10 col-s-push-1">
        <figure class="mt40 mb60">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-outcome-boards@2x.jpg 2x"
            src="/assets/images/projects/moodboard/moodboard-outcome-boards.jpg"
            alt="Moodboard boards page"
            class="mb10"
           />
          <figcaption>
            The first page the user sees when logging into the app. The few main action points on this page are the sorting, filtering, layout changes, starring and the creation of new moodboards
          </figcaption>
        </figure>

        <figure class="mt40 mb60">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-outcome-pins@2x.jpg 2x"
            src="/assets/images/projects/moodboard/moodboard-outcome-pins.jpg"
            alt="Moodboard boards page"
            class="mb10"
           />
          <figcaption>
            This is the actual moodboard, where the user can see all his collected inspiration displayed in a long, flowing, easy to consume manner. Apart from the standard sorting, filtering and CRUD actions, the user can also chose to individually resize a particular board to make it visually more prominent on the board.
          </figcaption>
        </figure>

        <figure class="mt40 mb60">
          <img
            srcset="/assets/images/projects/moodboard/moodboard-outcome-pin@2x.jpg 2x"
            src="/assets/images/projects/moodboard/moodboard-outcome-pin.jpg"
            alt="Moodboard boards page"
            class="mb10"
           />
          <figcaption>
            This is the pin page, here the user can see the pinned asset, edit it's name, description, tags and also leave a note if required. In plans where team collaboration is allowed, the user can also annotate and discuss plans with his/her teammates
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

</section>
<!-- end .moodboard -->


{{> cta}}

{{/content}}
{{/extend}}
