---
title: Indrashish Ghosh - Freelance Product Designer and Front End Developer
cover: true
---
{{#extend "layouts/master"}}
{{#content "body"}}

<!-- this is a namespace for the project colors -->
<section class="oyo project">

  <div class="cover">
    <div class="container">
      <div class="row">
        <div class="col-s-12">

            <div class="cover__logo-cont">
              <svg class="cover__logo cover__logo--oyo"><use xlink:href="#oyo"/></svg>
            </div>

            <div class="cover__image cover__image--oyo"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <p>
          <a href="http://www.oyorooms.com/" target="_blank">OYO Rooms</a> is a network of over 2000 branded hotel rooms in India. It provides standardized features across all it’s properties such as complementory breakfast, free wifi etc.
        </p>

        <h2 class="section-heading mt80" data-content="01">
          <span>Objectives</span>
        </h5>

        <p>
          Being the sole driving force behind this project, it was important for me to work smart and maximize the output from the effort involved. However, the main priority here was the user experience and the product.
        </p>

        <p>
          Keeping in mind the various requirements and the project constraints, it quickly became clear to me the key objectives of the project. I needed to design an interface which was:-
        </p>


        <ul class="objective objective--double objective--oyo">

          <li class="objective__item">
            Create an effective booking flow for hotels, which included search, booking and payment
          </li>

          <li class="objective__item">
            To establish a design language which would power the complete web experience
          </li>

        </ul>

      </div>
    </div>
  </div>
  <!-- end .container -->


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <h5 class="section-heading section-heading--dark" data-content="02">
          <span>Research and Expectation Mapping</span>
        </h5>
        <p>
          After carrying out some preliminary research, which included direct interaction with customers and solciting feedback from various teams in the organization, we mapped out the possible interaction points and expectations of the users at each stage of the buying cycle.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-12">
        <div class="tac mt40 mb40">
        <img
          srcset="/assets/images/projects/oyo/oyo-research@2x.png 2x"
          src="/assets/images/projects/oyo/oyo-research.png"
          alt="Oyo Research and Expectation Mapping"
          class="fill"
         />
         </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <h5 class="section-heading section-heading--dark" data-content="03">
          <span>User Flow</span>
        </h5>
        <p>
          Armed with the knowledge and insights form the previous excercises, we were able to establish some basic user flows and optimize it for the booking process.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-12">
        <div class="tac mt40 mb40">
        <img
          srcset="/assets/images/projects/oyo/oyo-userflow@2x.png 2x"
          src="/assets/images/projects/oyo/oyo-userflow.png"
          alt="Oyo User flows"
          class="fill"
         />
         </div>
      </div>
    </div>
  </div>

  <div class="section-alternate pb100 pt100">

    <div class="container">
      <div class="row">
        <div class="col-s-10 col-s-push-1">
          <div class="tac">
          <img
            srcset="/assets/images/projects/oyo/oyo-wireframes@2x.png 2x"
            src="/assets/images/projects/oyo/oyo-wireframes.png"
            alt="Oyo Wireframes"
            class="fill"
           />
           </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-s-6 col-s-push-3">

          <h5 class="section-heading section-heading--dark" data-content="04">
            <span>Wireframing</span>
          </h5>

          <p>
            Using the knowledge gained during the previous stage, we went on to create a few wireframes which allowed us to clearly understand the major points of action and it’s displacement along the booking flow.
          </p>

        </div>
      </div>
    </div>
  </div>
  <!-- end .section-alternate -->


  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h5 class="section-heading" data-content="05">
          <span>Final Outcome</span>
        </h5>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-12 minigrid mt40 mb60">
        <img
          srcset="/assets/images/projects/oyo/oyo-home@2x.jpg 2x"
          src="/assets/images/projects/oyo/oyo-home.jpg"
          alt="Oyo Homepage"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/oyo/oyo-search@2x.jpg 2x"
          src="/assets/images/projects/oyo/oyo-search.jpg"
          alt="Oyo Search Page"
          class="fill minigrid-item"
        />
        <img
           srcset="/assets/images/projects/oyo/oyo-hotel@2x.jpg 2x"
           src="/assets/images/projects/oyo/oyo-hotel.jpg"
           alt="Oyo Hotel Page"
           class="fill minigrid-item"
         />
        <img
            srcset="/assets/images/projects/oyo/oyo-booking-confirm@2x.jpg 2x"
            src="/assets/images/projects/oyo/oyo-booking-confirm.jpg"
            alt="Oyo Booking Confirmation"
            class="fill minigrid-item"
          />
          <img
             srcset="/assets/images/projects/oyo/oyo-booking-success@2x.jpg 2x"
             src="/assets/images/projects/oyo/oyo-booking-success.jpg"
             alt="Oyo Booking Sucess"
             class="fill minigrid-item"
            />
            <img
              srcset="/assets/images/projects/oyo/oyo-city@2x.jpg 2x"
              src="/assets/images/projects/oyo/oyo-city.jpg"
              alt="Oyo City Page"
              class="fill minigrid-item"
             />
             <img
               srcset="/assets/images/projects/oyo/oyo-press@2x.jpg 2x"
               src="/assets/images/projects/oyo/oyo-press.jpg"
               alt="Oyo Press Page"
               class="fill minigrid-item"
              />
              <img
                srcset="/assets/images/projects/oyo/oyo-about@2x.jpg 2x"
                src="/assets/images/projects/oyo/oyo-about.jpg"
                alt="Oyo About Page"
                class="fill minigrid-item"
               />
      </div>
    </div>
  </div>

</section>
<!-- end .oyo -->


{{> cta}}

{{/content}}
{{/extend}}
