---
title: Indrashish Ghosh - Freelance Product Designer and Front End Developer
cover: true
---
{{#extend "layouts/master"}}
{{#content "body"}}

<!-- this is a namespace for the project colors -->
<section class="zomato project">

  <div class="cover">
    <div class="container">
      <div class="row">
        <div class="col-s-12">

            <div class="cover__logo-cont">
              <svg class="cover__logo cover__logo--zomato"><use xlink:href="#zomato"/></svg>
            </div>

            <div class="cover__image cover__image--zomato"></div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <p>
          <a href="http://www.zomato.com/" target="_blank">Zomato</a> is a global restaurant search and discovery service. It provides restaurant information, such as scanned menus and photos, as well as user reviews and ratings amongst other features and offerings.
        </p>

        <h2 class="section-heading mt80" data-content="01">
          <span>Involvement</span>
        </h5>

        <p>
          I spent the better half of two years working with the product team ar Zomato. During this period I had the opportunity to be a part of both the Design and Development Teams. This gave me a unique perspective of the underlying methodology and process required to build a successful product.
        </p>

      </div>
    </div>
  </div>
  <!-- end .container -->

<div class="section-alternate pb100 pt60 mt50 mb40">
  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">
        <h5 class="section-heading section-heading--dark" data-content="02">
          <span>Assignments</span>
        </h5>
        <p>
          At a time when Zomato was experienceing high growth and expanding rapidly to international markets, it became important to present to the growing customers a look into the company, the people behind it, it’s culture etc.
        </p>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-s-6 col-s-push-3">

        <h5 class="section-heading" data-content="03">
          <span>Final Outcome</span>
        </h5>

        <p>
          While I spent majority of my time at Zomato involved in front end developement, I also got a chance to work on some of the supporting pages and widgets of the app. Some of these are displayed below.
        </p>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-s-12 minigrid mt40 mb60">
        <img
          srcset="/assets/images/projects/zomato/zomato-careers@2x.jpg 2x"
          src="/assets/images/projects/zomato/zomato-careers.jpg"
          alt="Zomato Careers page"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/zomato/zomato-about@2x.jpg 2x"
          src="/assets/images/projects/zomato/zomato-about.jpg"
          alt="Zomato About page"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/zomato/zomato-culture-1@2x.jpg 2x"
          src="/assets/images/projects/zomato/zomato-culture-1.jpg"
          alt="Zomato Culture Page 2014"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/zomato/zomato-culture-2@2x.jpg 2x"
          src="/assets/images/projects/zomato/zomato-culture-2.jpg"
          alt="Zomato Culture Page 2015"
          class="fill minigrid-item"
        />
        <img
          srcset="/assets/images/projects/zomato/zomato-contact@2x.jpg 2x"
          src="/assets/images/projects/zomato/zomato-contact.jpg"
          alt="Zomato Contact Page 2015"
          class="fill minigrid-item"
        />
      </div>
    </div>
  </div>

</section>
<!-- end .oyo -->


{{> cta}}

{{/content}}
{{/extend}}
