---
title: Experiments and Side Projects by Indrashish Ghosh - Freelance Product Designer and Developer
description: Experiments, libraries and side-projects made by Indrashish Ghosh for fun and learning.
---
{{#extend "layouts/master"}}
{{#content "body"}}

  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-l-12">
            <div class="intro__inner">

              <div class="intro__text">
                <h1 class="intro__headline">Side Projects and Experiments</h1>
                <p class="intro__byline intro__byline--wide">
                  I'm a strong believer in side-projects and always have one running beside my usual work. It helps me stay up-to date with advancements in the industry and allows me to explore new design directions and technologies. Here are a few side-projects I have worked on in the past:-
                </p>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mb80">
    <div class="row">

      <div class="col-m-6 mb40">
        <a href="http://uigradients.com/" target="_blank">
          <div class="jumbotron jumbotron--uigradients">
            <div class="jumbotron__inner">
              <svg class="jumbotron__logo jumbotron__logo--uigradients"><use xlink:href="#uigradients"/></svg>
              <p class="jumbotron__byline">
                Community contributed, modern, dual-tone gradients for designers and developers
              </p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-m-6 mb40">
        <a href="http://www.cssfilters.co/" target="_blank">
          <div class="jumbotron jumbotron--cssfilters">
            <div class="jumbotron__inner">
              <svg class="jumbotron__logo jumbotron__logo--cssfilters"><use xlink:href="#cssfilters"/></svg>
              <p class="jumbotron__byline">
                Visual playground for generating CSS for custom and Instagram like photo filters
              </p>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>

{{> 'partials/cta'}}

{{/content}}
{{/extend}}
