---
title: Message Received - Freelance Product Designer and Front End Developer
description: Contact Indrashish Ghosh to start working on a project or to say hi
---

{{#extend "layouts/master"}}
{{#content "body"}}

<div class="intro">
  <div class="container">
    <div class="row">

      <div class="col-s-5">

          <h1 class="contact__headline">
            Let's Work Together
          </h1>
          <p class="contact__byline">
            To check availability or discuss your project and ideas, please complete the form below.
          </p>
          <p class="contact__byline">
            In case you happen to live in Kolkata, we can even meet to discuss things over a beer (or coffee if that's your thing).
          </p>

          <h5 class="contact__subheading">
            You can also find me here
          </h5>

          <nav class="contact__social social">
            <a href="https://twitter.com/_ighosh" target="_blank" class="contact__social-link social__link">
              <svg class="social__icon social__icon--twitter contact__social-icon"><use xlink:href="#twitter" /></svg>
              <p class="contact__social-label contact__social-label--twitter">twitter.com/_ighosh</p>
            </a><br>
            <a href="https://dribbble.com/ghosh" target="_blank" class="contact__social-link social__link">
              <svg class="social__icon social__icon--dribbble contact__social-icon"><use xlink:href="#dribbble" /></svg>
              <p class="contact__social-label contact__social-label--dribbble">dribbble.com/ghosh</p>
            </a><br>
            <a href="https://github.com/Ghosh" target="_blank" class="contact__social-link social__link">
              <svg class="social__icon social__icon--github contact__social-icon"><use xlink:href="#github" /></svg>
              <p class="contact__social-label contact__social-label--github">github.com/ghosh</p>
            </a>
          </nav>

      </div>

      <div class="col-s-7">
        <div class="thanks">

          <div class="row">

            <svg class="thanks__icon"><use xlink:href="#mail" /></svg>

            <h2 class="thanks__headline">Message Successfully sent!</h2>

            <p class="thanks__byline">
              Thanks for reaching out to me. I will try and revert back to you as soon as possible.
            </p>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{{> 'partials/cta'}}

{{/content}}
{{/extend}}
