// scss-lint:disable NestingDepth
.section-heading {
  margin-bottom: 30px;
  margin-top: 60px;
  position: relative;

  &:before {
    color: c('neutral', 'section');
    content: attr(data-content) ' ';
    font-size: 72px;
    left: -110px;
    position: absolute;
  }

  span {
    display: block;
    font-size: fs('mega', 'display');
    font-weight: 600;
    overflow: hidden;
    position: relative;

    &:after {
      background-color: c('neutral', 'section');
      content: '';
      height: 1px;
      margin-left: 20px;
      margin-top: 15px;
      position: absolute;
      width: 100%;
    }

    .moodboard & { color: c('brand', 'moodboard'); }
    .oyo & { color: c('brand', 'oyo'); }
    .aldoshik & { color: c('brand', 'aldoshik'); }
    .zomato & { color: c('brand', 'zomato'); }
  }

  &--dark {
    &:before {
      color: darken(c('neutral', 'section'), 6%);
    }

    span:after {
      background-color: darken(c('neutral', 'section'), 6%);
    }
  }

}

.section-subheading {
  font-size: 18px;
  font-weight: 600;
}

a {
  .moodboard & { color: c('brand', 'moodboard'); }
  .oyo & { color: c('brand', 'oyo'); }
  .aldoshik & { color: c('brand', 'aldoshik'); }
  .zomato & { color: c('brand', 'zomato'); }
}

.project {

  ul {
    padding-left: 20px;

    li {
      margin-bottom: 10px;
    }
  }

  figcaption {
    color: c('text', 'light');
    font-size: 12px;
    font-style: italic;
    line-height: 21px;

    span {
      color: c('text', 'headings');
      display: block;
      font-family: ff('display');
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }

}
