// scss-lint:disable TrailingSemicolon SpaceAfterVariableName
$colors: (
  text: (
    headings: #4a4e53,
    body: #4a4e53,
    light: #868c92
  ),
	neutral: (
		base: #464646,
	),
	accent: (
    primary: #479e2b,
		secondary: #0074d9,
	),
  brand: (
    moodboard: #0097d4
  ),
	social: (
		twitter: #55acee,
		dribbble: #ea4c89,
		github: #2d2d2a,
		instagram: #2b5989,
		facebook: #455fa2,
	)
);
