$colors: (
  text: (
    headings: #4A4E53,
    body: #4A4E53
  ),
	neutral: (
		base: #464646,
	),
	accent: (
		primary: #0074D9,
	),
	social: (
		twitter: #55acee,
		dribbble: #ea4c89,
		github: #2d2d2a,
		instagram: #2B5989,
		facebook: #455FA2,
	)
);
