// $font-path: "../fonts/";

// $font-faces: (
//  'indisocial': (
//     "indisocial" normal normal,
//   ),
//  'homegrown': (
//     "homegrown" normal normal,
//   )
// );

$font-families: (
	display: ( "Avenir Next", "Helvetica Neue", "Helvetica", "Arial", sans-serif ),
	body: ( "Avenir Next", "Georgia", "Times New Roman", "Times", serif ),
	code: ( "Source Code Pro", "Consolas", "Courier", monospace )
);
