// scss-lint:disable TrailingSemicolon SpaceAfterVariableName
$typography:(

  display: (
    'mega': (
      null: (24px, 32px)
    ),
    'base': (
      null  : (18px, 28px)
    ),
    'deci': (
      null : (16px, 24px)
    )
  ),

  body: (
    'mega': (
      null  : (19px, 32px),
    ),
    'deca': (
      null  : (16px, 28px),
    ),
    'base': (
      null  : (16px, 30px)
    ),
    'mini': (
      null : (13px, 26px)
    )
  ),

  mono: (
    'base': (
      null  : (15px, 1.5),
    )
  )

);
