// scss-lint:disable ImportPath
@import 'config/breakpoints';
@import 'config/grid';
@import 'config/color';
@import 'config/fonts';
@import 'config/typography';
@import 'config/z-index';
@import 'config/debug';

@import '../bower/sanitize-css/sanitize.scss';
@import '../bower/stylekit/stylekit';

@import 'helpers/mixins';

@import 'base/typography';
@import 'base/button';
@import 'base/form';

@import 'core/typography';
@import 'core/layout';
@import 'core/utils';

@import 'components/button';

@import 'modules/header';
@import 'modules/nav';
@import 'modules/intro';
@import 'modules/banner';
@import 'modules/social';
@import 'modules/cta';
@import 'modules/objective';
@import 'modules/cover';

.hide {
  display: none;
}

.wireframe {
  margin-bottom: 60px;
  margin-left: -35%;
  width: 170%;
}

.about {
  &__byline {
    font-family: ff('body');
    font-size: 22px;
    line-height: 40px;
    text-align: center;
  }

  &__text {
    color: c('text', 'light');
    font-family: ff('display');
  }
}


.contact {
  background-color: #f3f3f3;
  padding: 50px;

  &__input,
  &__textarea {
    border: solid 2px #a2a2a2;
    background-color: #fff;

    &:focus {
      border: solid 2px c('accent', 'secondary');
    }
  }

  &__textarea {
    margin-top: 38px;
    height: 250px;
  }

  &__btn-cont {
    text-align: center;
  }

  &__btn {
    width: initial;
    margin-top: 30px;
    display: inline-block;
  }
}
