// scss-lint:disable ImportPath
@import 'config/breakpoints';
@import 'config/grid';
@import 'config/color';
@import 'config/fonts';
@import 'config/typography';
@import 'config/z-index';
@import 'config/debug';

@import '../bower/sanitize-css/sanitize.scss';
@import '../bower/stylekit/stylekit';

@import 'helpers/mixins';

@import 'base/typography';
@import 'base/button';
@import 'base/form';

@import 'core/typography';
@import 'core/layout';
@import 'core/utils';

@import 'components/button';

@import 'modules/header';
@import 'modules/nav';
@import 'modules/intro';
@import 'modules/banner';
@import 'modules/social';
@import 'modules/cta';
@import 'modules/objective';
@import 'modules/cover';

.hide {
  display: none;
}

.wireframe {
  margin-bottom: 60px;
  margin-left: -35%;
  width: 170%;
}

.about {
  &__byline {
    font-family: ff('body');
    font-size: 22px;
    line-height: 40px;
    text-align: center;
  }

  &__text {
    color: c('text', 'light');
    font-family: ff('display');
  }
}


.contact {
  background-color: #f3f3f3;
  margin-bottom: 80px;
  padding: 40px 50px;

  &__headline {
    @include set-font-scale('mega', 'display');
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__byline {
    color: c('text', 'light');
    font-family: ff('display');
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  &__subheading {
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
  }

  &__social {
    .social__link {
      margin-left: 0;
    }
  }

  &__social-link {
    @include clearfix();
  }

  &__social-icon {
    float: left;
    margin-right: 10px;
    margin-top: 4px;
  }

  &__social-label {
    display: inline-block;
    float: left;
    font-family: ff('display');
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;

    &--twitter { color: c('social', 'twitter') }
    &--dribbble { color: c('social', 'dribbble') }
    &--github { color: c('social', 'github') }
  }

  &__input,
  &__textarea {
    background-color: #fff;
    border-bottom: solid 2px #a2a2a2;

    &:focus {
      border-bottom: solid 2px c('accent', 'primary');
    }
  }

  &__textarea {
    height: 250px;
    margin-top: 38px;
  }

  &__btn-cont {
    text-align: center;
  }

  &__btn {
    display: inline-block;
    margin-top: 30px;
    width: initial;
  }
}
