// scss-lint:disable ImportPath
@import 'config/breakpoints';
@import 'config/grid';
@import 'config/color';
@import 'config/fonts';
@import 'config/typography';
@import 'config/z-index';
@import 'config/debug';

@import '../bower/sanitize-css/sanitize.scss';
@import '../bower/stylekit/stylekit';

@import 'helpers/mixins';

@import 'base/typography';

@import 'core/typography';

@import 'components/button';

@import 'modules/header';
@import 'modules/nav';
@import 'modules/intro';
@import 'modules/banner';
@import 'modules/social';
@import 'modules/cta';

.hide {
  display: none;
}


.cover {
  height: 540px;
  padding-top: 126px;
  text-align: center;

  .moodboard & {
    background-color: c('brand', 'moodboard');
  }

  &__logo-cont {
    margin-bottom: 90px;
    margin-top: 50px;
  }

  &__logo {
    fill: c('neutral', 'milk');

    &--moodboard {
      height: 32px;
      width: 220px;
    }
  }

  &__image {
    display: inline-block;
    height: 404px;
    margin-bottom: 40px;
    width: 698px;

    &--moodboard {
      @include retina-image('../images/projects/moodboard/moodboard-cover@2x.png', 698px, 404px);
      background: url('../images/projects/moodboard/moodboard-cover.png') no-repeat;
    }

  }
}
