// scss-lint:disable ImportPath
@import 'config/breakpoints';
@import 'config/grid';
@import 'config/color';
@import 'config/fonts';
@import 'config/typography';
@import 'config/z-index';
@import 'config/debug';

@import '../bower/sanitize-css/sanitize.scss';
@import '../bower/stylekit/stylekit';

@import 'base/typography';

@import 'components/button';

@import 'modules/header';
@import 'modules/nav';
@import 'modules/intro';

.hide {
  display: none;
}
