---
title: About Indrashish Ghosh - Freelance Product Designer and Front End Developer
cover: true
---

{{#extend "layouts/master"}}
{{#content "body"}}

<div class="cover cover--about"></div>

<div class="container">
  <div class="row">
    <div class="col-s-10 col-s-push-1">

      <h2 class="about__byline">
        Hi, I am Indrashish Ghosh. I am a prouct designer and front end developer. I have a passion for creating clean, functional and easy to use interfaces. I also love to give life to designs with html, css and javascript.
      </h2>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-s-5 col-s-push-1">
      <p class="about__text">
        I have been on a non-standard path both personally and professionaly. With my father serving in the Armed Forces, I have grown up in 13 schools, 26 states and 3 countries, I have had the good fortune of being exposed to multiple cultures and meeting all kinds of people over the course of my short but eventful life. This has led me to develop an unique outlook towards life. I try and actively make use of my learnings and apply them to my work where ever I can.
      </p>
    </div>
    <div class="col-s-5 col-s-push-1">
      <p class="about__text">
        Professionaly I have a background in digital marketing but transitioned over to the product world around 5 years back. Since that time I have worked with a wide variety of people and companies including small businesses, early stage startups and billion dollor companies. My interests extend beyond just pretty pixels and clean code. I have an interest in conversion rate optimization, data driven design and analytics.
      </p>
    </div>
  </div>
</div>

{{> cta}}

{{/content}}
{{/extend}}
