---
title: About Indrashish Ghosh - Freelance Product Designer and Front End Developer

---

{{#extend "layouts/master"}}
{{#content "body"}}

<!-- <div class="cover cover--contact"></div> -->

<div class="container mt40">
  <div class="row">
    <div class="col-s-10 col-s-push-1">

      <h2 class="about__byline mt10">
        To check availability or discuss your project and ideas, please complete the form below. I'll reply as soon as I can. In case you happen to live in Kolkata, we can even meet to discuss things over a beer (or coffee if that's your thing).
      </h2>

    </div>
  </div>
  <div class="row">
    <div class="col-s-10 col-s-push-1">
      <div class="contact mt50">

        <div class="row">

          <form class="contact__form form" action="index.html" method="post">

            <div class="col-s-6">
              <input class="contact__input form__imput" type="text" name="name" placeholder="Name*">
            </div>

            <div class="col-s-6">
              <input class="contact__input form__input" type="email" name="email" placeholder="Email*">
            </div>

            <div class="col-s-12">
                <textarea class="contact__textarea form__textarea" name="message" placeholder="Message*"
                ></textarea>
            </div>

            <div class="col-s-12">
              <div class="contact__btn-cont">

                <input class="contact__btn btn btn--primary" type="button" name="name" value="Submit Form">

              </div>
            </div>

          </form>

        </div>

      </div>
    </div>
  </div>
</div>

{{> cta}}

{{/content}}
{{/extend}}
