---
title: Indrashish Ghosh - Freelance Product Designer and Front End Developer
---
{{#extend "layouts/master"}}
{{#content "body"}}

  <div class="intro">
    <div class="container">
      <div class="row">
        <div class="col-l-12">
            <div class="intro__inner">

              <div class="intro__text">
                <h1 class="intro__headline">Product Design and Front End Development</h1>
                <p class="intro__byline">
                  I design and develop interfaces that are clean, simple and to the point.
                </p>
              </div>
              <div class="intro__cta">
                <a href="#" class="btn btn--primary intro__btn">
                  Lets Work Together
                </a>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner banner--moodboard">
    <div class="container">
      <div class="row">
        <div class="col-s-12">
          <div class="banner__inner banner__inner--moodboard">
            <svg class="banner__logo banner__logo--moodboard"><use xlink:href="#moodboard"/></svg>
            <p class="banner__desc">
              I spent almost two years at Zomato, working on a number of projects ranging from the website, to their mobile site, to the something else etc. etc.
            </p>
            <ul class="banner__service-list">
              <li class="banner__service-item">UI/UX Design</li>
              <li class="banner__service-item">Interface Design</li>
              <li class="banner__service-item">Front End Development</li>
            </ul>
            <img src="assets/images/projects/moodboard/moodboard.jpg" class="banner__img banner__img--moodboard" alt="" />
            <a href="/work/moodboard.html" class="btn btn--outline banner__btn">View Case Study</a>
          </div>
          <!-- end banner__inner -->
        </div>
      </div>
    </div>
  </div>


  <div class="banner banner--oyo">
    <div class="container">
      <div class="row">
        <div class="col-s-12">
          <div class="banner__inner banner__inner--oyo">
            <svg class="banner__logo banner__logo--oyo"><use xlink:href="#oyo"/></svg>
            <p class="banner__desc">
              I spent almost two years at Zomato, working on a number of projects ranging from the website, to their mobile site, to the something else etc. etc.
            </p>
            <ul class="banner__service-list">
              <li class="banner__service-item">UI/UX Design</li>
              <li class="banner__service-item">Interface Design</li>
              <li class="banner__service-item">Front End Development</li>
            </ul>
            <img src="assets/images/oyo.png" class="banner__img banner__img--oyo" alt="" />
            <a href="/work/oyo.html" class="btn btn--outline banner__btn">View Case Study</a>
          </div>
          <!-- end banner__inner -->
        </div>
      </div>
    </div>
  </div>


  <div class="banner banner--aldoshik">
    <div class="container">
      <div class="row">
        <div class="col-s-12">
          <div class="banner__inner banner__inner--aldoshik">
            <svg class="banner__logo banner__logo--aldoshik"><use xlink:href="#aldoshik"/></svg>
            <p class="banner__desc">
              I spent almost two years at Zomato, working on a number of projects ranging from the website, to their mobile site, to the something else etc. etc.
            </p>
            <ul class="banner__service-list">
              <li class="banner__service-item">UI/UX Design</li>
              <li class="banner__service-item">Interface Design</li>
              <li class="banner__service-item">Front End Development</li>
            </ul>
            <img src="assets/images/aldoshik.png" class="banner__img banner__img--aldoshik" alt="" />
            <a href="/work/aldoshik.html" class="btn btn--outline banner__btn">View Case Study</a>
          </div>
          <!-- end banner__inner -->
        </div>
      </div>
    </div>
  </div>


  <div class="banner banner--zomato">
    <div class="container">
      <div class="row">
        <div class="col-s-12">
          <div class="banner__inner banner__inner--zomato">
            <!-- <a href="#" class="banner__logo banner__logo--zomato"></a> -->
            <svg class="banner__logo banner__logo--zomato"><use xlink:href="#zomato"/></svg>
            <p class="banner__desc">
              I spent almost two years at Zomato, working on a number of projects ranging from the website, to their mobile site, to the something else etc. etc.
            </p>
            <ul class="banner__service-list">
              <li class="banner__service-item">UI/UX Design</li>
              <li class="banner__service-item">Interface Design</li>
              <li class="banner__service-item">Front End Development</li>
            </ul>
            <img src="assets/images/zomato.png" class="banner__img banner__img--zomato" alt="" />
            <a href="/work/zomato.html" class="btn btn--outline banner__btn">View Case Study</a>
          </div>
          <!-- end banner__inner -->
        </div>
      </div>
    </div>
  </div>


{{> cta}}

{{/content}}
{{/extend}}
