$banner-height: 680px;

.banner {
  height: $banner-height;
  overflow: hidden;

  &--moodboard {
    background-color: c('brand', 'moodboard');
  }

  &--oyo {
    background-color: c('brand', 'oyo');
    background-image: url('../images/projects/oyo/pattern.png');
    background-position: center bottom;
    background-repeat: repeat-x;
  }

  &--aldoshik {
    background-color: c('brand', 'aldoshik');
  }

  &--zomato {
    background-color: c('brand', 'zomato');
    background-image: url('../images/projects/zomato/pattern-zom.png');
    background-repeat: repeat;
  }

  &__inner {
    @include clearfix();
    height: $banner-height;
    position: relative;
    text-align: center;

    @include breakpoint('large'){
      text-align: initial;
      padding: 70px 0;
    };
  }

  &__logo {
    fill: c('neutral', 'milk');
    margin-bottom: 10px;
    margin-top: 80px;

    &--moodboard {
      height: 22px;
      width: 180px;
    }

    &--oyo {
      height: 40px;
      width: 96px;
    }

    &--aldoshik {
      height: 32px;
      width: 166px;
    }

    &--zomato {
      height: 37px;
      width: 144px;
    }
  }

  &__desc {
    @include set-font-scale('deca', 'body');
    color: rgba(c('neutral', 'milk') , .8);
    font-family: ff('display');
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    max-width: 100%;

    @include breakpoint('medium') {
      max-width: 65%;
    };

    @include breakpoint('large') {
      margin-left: 0;
      max-width: 35% !important;
    };
  }

  &__service-list {
    color: rgba(c('neutral', 'milk') , .9);
    font-family: ff('display');
    padding-left: 16px;
    list-style-type: none;

    @include breakpoint('large') {
      list-style-type: disc;
    };
  }

  &__service-item {
    color: rgba(c('neutral', 'milk') , .8);
  }

  &__img {
    max-width: 100%;

    @include breakpoint('large') {
      position: absolute;
    }

    &--moodboard {
      @include breakpoint('large') {
        bottom: -46px;
        right: -120px;
        width: 780px;
      }
    }

    &--oyo {
      @include breakpoint('large') {
        bottom: -86px;
        right: -70px;
      };
    }

    &--aldoshik {
      @include breakpoint('large') {
        bottom: -46px;
        right: -250px;
      };
    }

    &--zomato {
      @include breakpoint('large') {
        bottom: -46px;
        right: -250px;
      };
    }
  }

  &__btn {
    @include font-smoothing();
    margin-top: 10px;
    opacity: .7;


    &:hover {
      opacity: .9;
    }
  }

  .banner__text {
    text-align: center;
    margin-bottom: 40px;

    @include breakpoint('large') {
      margin-bottom: initial;
      text-align: left;
    };
  }
}
