.cover {
  height: 320px;
  padding-top: 126px;
  text-align: center;

  @include breakpoint('medium') {
    height: 540px;
  }

  &--about {
    background-image: url('../images/about/about.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 470px;
    position: relative;

    &:before {
      @include coverer();
      // background: linear-gradient(to top, #e53935 , #e35d5b);
      background: linear-gradient(to left, #136a8a , #267871);
      content: '';
      mix-blend-mode: multiply;
    }
  }


  &--contact {
    background: linear-gradient(to left, #136a8a , #267871);
    height: inherit;
  }

  .moodboard & { background-color: c('brand', 'moodboard'); }
  .oyo & { background-color: c('brand', 'oyo'); }
  .aldoshik & { background-color: c('brand', 'aldoshik'); }
  .zomato & {
    background-color: c('brand', 'zomato');
    background-image: url('../images/projects/zomato/pattern-zom.png');
    background-repeat: repeat;
  }

  // Only project pages
  &__logo-cont {
    margin-bottom: 20px;

    @include breakpoint('medium') {
      margin-bottom: 90px;
      margin-top: 50px;
    };
  }

  // Only project pages
  &__logo {
    fill: c('neutral', 'milk');

    &--moodboard {
      height: 32px;
      width: 220px;
    }

    &--oyo {
      height: 40px;
      width: 96px;
    }

    &--aldoshik {
      height: 30px;
      width: 160px;
    }

    &--zomato {
      height: 37px;
      width: 144px;
    }
  }

  // Only project pages
  &__image {
    background-position: center;
    background-repeat: no-repeat;;
    background-size: contain;
    display: inline-block;
    height: 250px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;

    @include breakpoint('medium') {
      height: 404px;
    };

    @include breakpoint('large') {
      height: 404px;
      margin-bottom: 40px;
      width: 698px;
    };

    &--moodboard {
      // @include retina-image('../images/projects/moodboard/moodboard-cover@2x.png', 698px, 404px);
      background-image: url('../images/projects/moodboard/moodboard-cover.png');
    }

    &--oyo {
      @include retina-image('../images/projects/oyo/oyo-cover@2x.png', 698px, 404px);
      background-image: url('../images/projects/oyo/oyo-cover.png');
    }

    &--aldoshik {
      @include retina-image('../images/projects/aldoshik/aldoshik-cover@2x.png', 698px, 404px);
      background-image: url('../images/projects/aldoshik/aldoshik-cover.png');
    }

    &--zomato {
      @include retina-image('../images/projects/zomato/zomato-cover@2x.png', 698px, 404px);
      background-image: url('../images/projects/zomato/zomato-cover.png');
    }

  }
}
