// TODO: Add footer background color to config
.cta {
  background-color: #202020;
  // background-color: c('neutral', 'light');
  // background-image: url('../images/desk.jpg');
  // background-position: calc(50% - 13px) calc(100% + 40px);
  height: 500px;
  text-align: center;

  &__inner {
    margin-top: 110px;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba(255,255,255,.05);
  }


  &__headline {
    @include set-font-scale('mega', 'display');
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
  }

  &__byline {
    @include set-font-scale('mega', 'body');
    color: c('text', 'light');
    font-family: ff('display');
  }

  &__btn {
    margin-top: 5px;
  }

  &__bottom {
    @include clearfix();
    margin-top: 55px;
  }

  &__footline {
    color: c('text', 'light');
    float: left;
    font-family: ff('display');
    font-size: 12px;
    line-height: 1;
  }

  &__social {
    float: right;
  }
}
