.header {
  z-index: 10;

  &__inner {
    @include clearfix();
    padding: 40px 0;
  }

  &__logo {
    fill: c('text', 'headings');
    float: left;
    height: 24px;
    width: 46px;
  }

  &__nav {
    float: left;
    margin-left: 30px;
    margin-top: -2px;
  }

  &__social {
    float: right;
    margin-top: -3px;
  }

  &--absolute {
    position: absolute;
    width: 100%;
  }

  &--white {
    .header__logo { fill: c('neutral', 'milk'); }
  }
}
