.header {

  &__inner {
    @include clearfix();
    padding: 40px 0;
  }

  &__logo {
    fill: c('text', 'headings');
    float: left;
    height: 24px;
    width: 54px;
  }

  &__nav {
    float: left;
    margin-left: 30px;
  }

  &__social {
    float: right;
  }

  &--absolute {
    position: absolute;
    width: 100%;
  }

  &--white {
    .header__logo { fill: c('neutral', 'milk'); }
  }
}
