.intro {
  margin-bottom: 80px;
  margin-top: 40px;

  &__inner {
    @include clearfix;
  }

  &__text {
    float: left;
  }

  &__headline {
    @include set-font-scale('mega', 'display');
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__byline {
    @include set-font-scale('mega', 'body');
    color: c('text', 'light');
    font-family: ff('display');
    max-width: 445px;
  }

  &__cta {
    float: right;
  }

  &__btn {
    margin-top: 22px;
  }
}
