// scss-lint:disable ImportantRule
.objective {
  @include clearfix();
  list-style-type: none;
  margin-bottom: 60px;
  margin-left: -30%;
  margin-top: 50px;
  width: 160%;

  &__item {
    align-items: center;
    border: solid 1px c('neutral', 'light');
    border-radius: 3px;
    display: flex;
    float: left;
    font-family: ff('display');
    font-size: fs('deci', 'display');
    height: 235px;
    justify-content: center;
    padding: 20px;
    text-align: center;

    &:before {
      content: none !important;
    }

    &:first-child {
      margin-left: 0 !important;
    }
  }

  &--triple {
    .objective__item {
      margin-left: 2%;
      width: 32%;
    }
  }

  &--double {
    .objective__item {
      margin-left: 2%;
      width: 48%;
    }
  }

  &--moodboard {
    .objective__item {
      background-color: c('brand', 'moodboard');
      border: solid 1px c('brand', 'moodboard');
      color: c('neutral', 'milk');
    }
  }

  &--oyo {
    .objective__item {
      border: solid 1px c('neutral', 'border');
      color: c('text', 'light');
    }
  }
}
