.social {
  &__link {
    display: inline-block;
    margin-left: 12px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__icon {
    height: 20px;
    width: 20px;

    &--twitter { fill: c('social', 'twitter'); }
    &--dribbble { fill: c('social', 'dribbble'); }
    &--github { fill: c('social', 'github'); }
  }
}

.social--white {
  .social__icon { fill: c('neutral', 'milk'); }
}
